html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 100px 1fr 200px;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    height: 100%;
}

.header {
    background-color: aquamarine;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuBar,
.menubarRightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;

}

.menuBar p,
.menubarRightSide p {
    padding: 0px 20px;
}

.sidebar {
    background-color: plum;
    grid-area: sidebar;
    height: 100%;
}

.main {
    background-color: royalblue;
    grid-area: main;
    height: 100%;
}

.footer {
    background-color: limegreen;
    grid-area: footer;
}